{
  "4d sports driving": "Stunts",
  "dragon force": "D.R.A.G.O.N. Force",
  "f18interceptor": "F/A-18 Interceptor",
  "f-15 eagle strike": "F-15 Strike Eagle II",
  "test drive ii - the duel": "The Duel: Test Drive II",
  "zakmckraken": "Zak McKracken and the Alien Mindbenders",
  "chase hq": "Chase H.Q.",
  "eye of the beholder 2": "Eye of the Beholder II",
  "Pmongww1": "Powermonger World War 1 Edition"
}
